@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?jh60ch');
  src:  url('/fonts/icomoon.eot?jh60ch#iefix') format('embedded-opentype'),
  url('/fonts/icomoon.ttf?jh60ch') format('truetype'),
  url('/fonts/icomoon.woff?jh60ch') format('woff'),
  url('/fonts/icomoon.svg?jh60ch#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 .icon-pageleft:before {
  content: "\e900";
  color: #999;
}

 .icon-pageleft.disabled:before {
  content: "\e900";
  color: #f3eded;
}

.icon-pageright.disabled:before {
  content: "\e901";
  color: #f3eded;
}
.icon-pageright:before {
  content: "\e901";
  color: #999;
}
body{
    text-align: center;
    font-family: "Microsoft YaHei",Pingfang SC,sans-serif;
    background: #eee;
}

.topheader{
 height: 40px;
 text-align: left;
 padding-left: 150px;
 background: #FAFAFA;
} 
.header{
    height: 193px;
    background: url(/images/banner.png);
    background-size: cover;
}

.mainlink{
    height: 100px;
    border: 1px solid #ccc;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 6px rgba(0,0,0,0.2);
    opacity:1;
    border-radius:6px;
    border-left: 5px solid #6d8ee9;
    border-right: 5px solid #6d8ee9;
    margin-bottom: 3px;
   position: relative;
    overflow: hidden;
}

.mainlink a{
    display: inline-block;
    margin-top: 12px;
    text-decoration: none;
}
.mainlink a p{
      text-align: center;
    margin-top: 4px;
}

.mainlink .icon-pageleft,.mainlink .icon-pageright{
  /*  position: relative;
    top:-105px;*/
}
.linkcontent{
    display: inline-block;
    height: 77px;
    width: 11180px;
   position: absolute;
   left: 10px;
   text-align: left;
}
.linkimg{
    width: 36px;
    height: 36px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 7px;
  
}
.scrollparent{
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 1103px;
    left: 1px;
    display: inline-block;
}

.prevbtn{
    z-index: 1000;
    position: absolute;
    left: 10px;
    top: 50%;
    cursor: pointer;
    width: 10px;
}

.nextbtn{
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
}
.firstrow{
 height: 400px;
 
}
.thirdrow{
    margin-bottom: 5px;
}
.panel{
 border: 1px solid #ddd;
}
.panel.card.middle{
 width: 406px;
}
.panel.card.large{
 width: 817px;
}

.panel.card.whole{
 width: 1224px;
}
.secondrow .panel,.thirdrow .panel{
    height: 352px;
    overflow: hidden;
}
.picnews{
    position: relative;
    left: 1px;
    text-align: left;
    display: inline-block;
}
.listnews{
    display: inline-block;
    width: 600px;
    vertical-align: top; 
}

.titlepre{
    display: inline-block;
    width: 6px;
    height: 16px;
    background-color: #6d8ee9;
    position: relative;
    top: 2px;
}
.titlemore{
    float: right;
    color: #316cbb;
    font-size: 12px;
    font-weight: 300;
    position: relative;
    top: 5px;
    cursor: pointer;
}
.list-group {

    text-align: left;
}
.tabtitle{
    text-decoration: none;
    color: #999999;
    cursor: pointer;
}


.tabtitle.actived{
    padding-bottom: 4px;
    color: #337ab7;
    border-bottom: 2px solid #337ab7;
}
.maincontent{
    width: 1204px;
    display:inline-block;
    background: #eee;
    padding: 5px;
}
.bluedot{
    color: #217cf1;
    font-size: 29px;
    vertical-align: baseline; 
    position: relative;
    top: -8px;
}
.list-group a{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.list-group-item.list{
    border: 0;
    padding: 0px 5px;
}  
.panel.card {
    margin-bottom: 1px;
    display: inline-block;
    width: 270px;
    vertical-align: top;
}
.docdate{
    float:right;
    position: relative;
    top: 12px;
}
.doctitle{

    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.whole .doctitle{
    width: 451px;

}
.middle .doctitle{
    width: 251px;

}
.large .doctitle{
    width: 651px;

}
.indioffice{
 position: relative;
 top: 6px;
}
.homelink{
 display: inline-block;
 position: relative;
 top: 6px;
 left: 11px;
 text-align: center;
 padding: 5px;
 color: #fff;
 width:116px;
 height:31px;
 background:linear-gradient(92deg,rgba(0,120,229,1) 0%,rgba(112,58,240,1) 100%);
 opacity:1;
 border-radius:16px;

}
.topuser{
        float: right;
    margin-right: 100px;
    position: relative;
    top: 10px;
}
.welcome{
        vertical-align: bottom;
    margin-right: 20px;
}
.curruser{
        vertical-align: bottom;
    color: #217cf1;
        margin-right: 11px;
}
.quit{
    margin-right: 10px;
}
.workspace{
    color: #4c4c4c;
    position: relative;
    margin-left: 30px;
    top: 9px;
}
a.list-group-item, button.list-group-item {
    color: #4C4C4C;
}
.panel-heading{
  text-align: left;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  font-size: 16px;
  background:#f0f0f0;
  padding: 5px 10px;
}
.panel.panel-space{
    margin-top: 5px;
    margin-bottom: 1px;
}

.content .col{
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
.item.subtitle{
    color:#fff;
    font-weight: 500;
}
.item{
    color:#a0aee3;
    font-weight: 200;
}

.page-footer {
  color: #fff;
  background-color: #46466d;
  bottom: 0;
  left: 0;
  right: 0;
  height: 108px;
} 
.page-footer .content{
    width: 48%;
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    text-align: left;
}
.vline{
    width: 1%;
    display:inline-block;
    border-right: 1px solid #eee;
    height: 50px;
    vertical-align: middle;
    margin-top: 24px;
    margin-right: 5px;
}
.footer {
  color: #fff;
  background-color: #0078e5;
  bottom: 0;
  left: 0;
  right: 0;
  height: 38px;
}