html,body,div,ul,li,dt,dd,dl,img,p,h4{margin: 0; padding: 0}
body{color: #333; font-size: 14px; background: #fff;}
li{list-style: none; }
a{text-decoration: none; color: #333;}
/* header */
.header{width: 1200px; height: 95px; margin: 0 auto; padding-top: 10px;}
.system_name{font-size: 24px; margin-top: 7px; display: inline-block;}
.logo{float: left; margin-right: 15px;}
.head_portrait{height: 24px; width: 24px; border-radius: 24px; vertical-align: middle;}
.header .pull-right{width: 300px; }
.header .input-group{margin-top: 10px;}
.header .input-icon i{position: absolute;left: 10px;top: 10px; z-index: 3;color: #999;}
.input-group .form-control:last-child{border-radius: 4px 0 0 4px!important; padding-left: 28px;}
.form-control{height: 32px;}
.btn{padding:5px 12px;}
/* nav */
.nav{background: #0d61b8; border-bottom: 3px solid #cb3322; height: 50px;}
.nav ul{width: 1200px; margin: 0 auto;}
.nav li{padding: 0 25px; float: left; line-height: 47px; font-size: 18px; cursor: pointer; color: #fff}
.nav li.active{background:#cb3322  }
.nav li.active:hover{background:linear-gradient(92deg,rgba(112,58,240,1) 0%,rgba(0,120,229,1) 100%); }

/* 公告 */
.post{height: 60px;overflow: hidden; margin-bottom: 20px;
  background: -webkit-linear-gradient(#dce2e5, #cfd8dc); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#dce2e5, #cfd8dc); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#dce2e5, #cfd8dc); /* Firefox 3.6 - 15 */
    background: linear-gradient(#dce2e5, #cfd8dc); /* 标准的语法（必须放在最后） */
}
.post ul{width: 1200px; margin: 0 auto;}
.post li{overflow: hidden;}
.post a{height:60px;line-height: 60px; padding-right: 40px; padding-left: 25px;position: relative;float:left;color: #333; max-width: 400px; overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.post li a:before{content:"";width: 4px; height: 4px; background: #abb1b4; position: absolute; left: 10px; top: 28px;}

.content{width:1200px; margin: 0 auto;}
/*图片新闻*/
.imgList{border: 1px solid #ddd; position: relative; height: 358px; width: 590px;}
.imgTitle{position: absolute; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,.5) ;color:#fff; padding:8px 12px;}
.imgList .page{position: absolute; right: 15px; bottom: 10px; z-index: 3;}
.imgList .page li{height: 16px; width: 16px; background:rgba(255,255,255,.3); float: left; margin-right: 10px; border-radius: 16px;}
.imgList .page li.active{background:rgba(255,255,255,.9)}
.imgContent{display: none;}
.imgContent.active{display: block;}
/*今日电科*/
.listTitle{border-bottom:1px solid #0d61b8;color: #0d61b8; padding-left: 15px; margin-bottom: 20px;font-size: 16px; position: relative;line-height: 36px; font-weight: bold;}
.listTitle:before{content:"";width: 4px; height: 18px; background: #0d61b8; position: absolute; left: 5px; top: 8px;}
.listTitle .more{font-size: 14px;float: right;margin-right: 10px; font-weight: normal;}
.listBody li{position: relative; padding-left: 65px; margin: 15px 0 0 5px; height: 48px;}
.listBody .time{position: absolute; left: 0; top: 0; background: #9ac3e6;padding: 3px 5px; text-align: center;font-size:12px; color: #fff; }
.listBody .time .date{font-size: 18px;display: block;}
.listBody .itemContent{display: block; color: #999; overflow:hidden;text-overflow:ellipsis; white-space:nowrap; width: 515px; line-height: 26px;}

/*待办*/
.my_work li{width: 137px; height:90px; float: left; margin:0 10px 10px 0; font-size: 16px; text-align: center; color:#fff; padding-top: 8px; overflow: hidden; position: relative; cursor: pointer;}
.my_work li span{font-size: 32px; display: block; color: #fff;}
.my_work li:hover span{text-shadow: 3px 3px 2px rgba(0,0,0,.3)}
.my_work li i{font-size: 90px; color: rgba(255,255,255,.1); position: absolute; left: 20px; top: 0;}
.my_work .bg_orange,.my_work .bg_green{margin-right:  0;}




.bg_blueness{background: #45b39c}
.bg_blueness:hover{background: #35a187}
.bg_orange{background: #e27c3f}
.bg_orange:hover{background: #da6630}
.bg_red{background: #ee5b51}
.bg_red:hover{background: #e9483f}
.bg_green{background: #a1b400}
.bg_green:hover{background: #8da200}
.c_blueness{color: #37c6a8}
.c_orange{color: #fb7728}
.c_red{color: #ee5b51}
.c_green{color: #a1b400}


/*常用资料*/
.quick {position: relative; padding-left: 50px;}
.quick dt{position:absolute; left: 0; top: 0; width: 30px; font-size: 14px;height: 190px; background: #ee5b51; padding: 50px 0 0 9px; color: #fff}
.quick dd{ width: 100px; height:95px;  float: left; text-align: center; margin-top: 5px; cursor: pointer}
.datum dd span{width: 54px; height: 54px;  background: #eaeaea; border-radius: 100%; text-align: center;display: block; margin: 0 auto 5px; padding-top: 13px;}
.datum dd span:hover{background: #e0e0e0;}
.datum dd span i{font-size: 28px;}
.link_page{position: absolute;right: 10px; top: 0; font-size: 26px; color: #ccc}
.link_page i:hover{color: #666; cursor: pointer;}
.pass i{font-size: 36px; color:#ee5b51; margin: 11px 0;}
.pass dd:hover i{color:#e73d35;}


/*常用系统*/
.often_system h4{background:#ee5b51 ; width: 85px; height: 30px; line-height: 30px;margin-bottom: 10px; display: inline-block; text-align: center;  color: #fff; font-size: 14px; font-weight: normal;}
.often_system a{background: #f0f0f0; font-size: 16px;float:left;margin: 2px 2px 0 0; width: 93px; height: 48px;line-height: 48px; padding-left: 10px;}
.often_system a:hover{background: #e0e0e0; text-decoration: none;}


/*专题*/
.topic{padding: 0 45px; position: relative;}
.topic img{border: 1px solid #ddd;padding: 1px; background: #fff}
.topic .prev,.topic .next{position: absolute;top: 15px; width: 27px; height: 65px; line-height: 65px; background: #f0f0f0; text-align:center; font-family: "宋体"; font-weight: bold; font-size: 20px; color: #999; cursor: pointer;}
.topic .prev:hover,.topic .next:hover{background: #e0e0e0}
.topic .prev{left: 0}
.topic .next{right: 0}

/*服务*/
.server{border: 1px solid #ddd; margin-bottom: 20px; overflow: hidden;background: url("../img/server_bg.jpg") no-repeat right -300px ;}
.server .row{margin: 0;}
.server .listTitle{color: #ec4c40; font-size: 16px; position: relative; border-bottom: none; margin-bottom: 0; }
.server .listTitle:before{content:"";width: 4px; height: 18px; background: #ec4c40; position: absolute; left: 5px; top: 8px; }
.server .col-md-4{border-left: 1px dotted #ddd; padding: 15px 150px 15px 20px; margin-left: -1px;}
.server .col-md-4 a{position: relative; width: 100px; display: inline-block; padding-left: 15px; line-height: 30px;}
.server .col-md-4 a:before{content:"";width: 4px; height: 4px; background: #ccc; position: absolute; left: 5px; top: 13px; }
.server .bg_1,
.server .bg_2{background: url("../img/server_bg.jpg") no-repeat right top ;}
.server .bg_2{background-position: right -150px;}


/*copyright*/
.copyright{margin-top: 50px;height:120px;line-height: 26px;background:#d3dbdf; text-align: center;padding-top: 20px;}








/* reset-bootstrap */
.row{margin: 0 -10px 20px;}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12{padding-left: 10px; padding-right: 10px;}